/* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* common */
.container{
    margin: 0 auto;
    max-width: 1200px;
}

/* SLIDER */
.slider{
    display: flex;
    align-items: center;
    width: 100%;
    margin-top: 100px;
}

.slider i{
    font-size: 65px;
    cursor: pointer;
}

.slider .imgs-box{
    width: 100%;
    height: 500px;
    margin: 0 20px;
}

.slider .imgs-box img{
    width: 100%;
    height: 100%;
    object-fit: cover
}